{{> head }}
{{> navbar }}

<div class="row">

    <div class="col-8">
        <h1>The Beatles</h1>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vitae qui quas et sit velit dolorem aspernatur porro molestias, repellat ullam voluptate, necessitatibus culpa recusandae ad delectus voluptatem assumenda officiis vel!
        </p>
    </div>

    <div class="col-4">
        <img src="assets/img/the-beatles.png" class="img-thumbnail">
    </div>
</div>

{{> footer }}